.modal {
  position: relative;
  width: 100%;
  .closeModal {
    position: absolute;
    right: -15px;
    top: -20px;
    width: 40px;
    height: 40px;
    background-color: lavender;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;

    img {
      position: absolute;
      width: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: grey;
    }
  }
  .modalList {
    margin-bottom: 0px;
  }
  #listInfo {
    margin-bottom: 0px;
    border-bottom: none;
  }
  .content {
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid grey;

    .addContent {
      padding: 20px 0 15px 30px;
      h2 {
        padding-bottom: 20px;
      }
      .add {
        display: flex;
        align-items: center;

        img {
          width: 25px;
        }
        span {
          color: #66f00a;
          padding-left: 10px;
        }
      }
    }
  }
}
